<div class="get">
    <h3 >Zavod</h3>
    
    <ul>
        <% for(var item in items) { %>
            <li class="btn btn-info" style="margin-top: 5px;"> <%=items[item].ime%> </li> <br>
            <% } %>
    </ul>
</div>
<a href=".." class="btn btn-secondary">Nazad</a>